* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  outline: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background: rgb(41, 128, 185);
}
/*
	colores
	verde: rgb(22, 160, 133);
	azul: rgb(41, 128, 185);
	mediaNoche: rgb(44, 62, 80);
*/
/*body > div > a{
	display: none !important;
}*/
.iconM {
  fill: rgb(41, 128, 185);
  width: 35px;
  height: 35px;
}
.contenedor {
  width: 50%;
  min-width: 520px;
  margin: 0 auto;
  background: white;
  position: relative;
  border-radius: 10px;
}
.contenedor header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.contenedor > section {
  width: 100%;
}
.sesionIn {
  height: 600px;
  padding-top: 100px;
}
.sesionIn div {
  width: 90%;
  margin: 35px auto;
  position: relative;
}
.sesionIn div i {
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px 22px;
  font-size: 1.2em;
  color: rgb(41, 128, 185);
}
.sesionIn div input {
  width: 100%;
  padding: 16px;
  font-size: 1em;
  border-radius: 30px;
  border: 1px solid rgba(44, 62, 80, 0.5);
  transition: 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
}
.sesionIn div input:focus {
  border: 1px solid rgb(41, 128, 185);
}
.iniSesion input {
  background: rgb(41, 128, 185);
  color: white;
  border: none !important;
  cursor: pointer;
}
#formulario div {
  width: 90%;
  margin: 20px auto;
}
.sesionAc {
  display: none;
}
.inserForm {
	display: none;
}
@keyframes mov {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.mover {
  animation: mov 0.5s ease-in-out running;
}
#entrada {
  width: 100%;
  padding: 16px;
  font-size: 1em;
  border-radius: 30px;
  border: 1px solid rgba(44, 62, 80, 0.5);
  transition: 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
}
#entrada:focus {
  border: 1px solid rgb(41, 128, 185);
}
.tareas {
  height: 460px;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.tareas div {
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 15px 20px;
  box-shadow: 0px 2px 10px 0px rgba(44, 62, 80, 0.2);
  border-radius: 50px;
  background: white;
  margin: 20px 0;
}
.ok {
  font-size: 2em;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2px 10px 0px rgba(44, 62, 80, 0.2);
  border-radius: 100%;
}
.verde {
  color: rgb(26, 188, 156);
  pointer-events: none;
}
.error::placeholder {
  color: rgb(231, 76, 60);
}
.contenedor footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 10px 0;
}
.titulo:first-letter {
  text-transform: uppercase;
}
.iconAdd {
  font-size: 2em;
  background: rgb(41, 128, 185);
  color: white;
  padding: 20px 22px;
  border-radius: 100%;
  cursor: pointer;
}
.raya {
  text-decoration: line-through;
  opacity: 0.3;
}
.animate{
  font-size: 1em;
}